*{
    padding: 0;
    margin: 0;
}


.header ul li {
    display: inline;
    justify-content: space-between;
    margin: 3rem;
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(77, 77, 77);
    font-size: 25px;
    padding: 25px;
}

ul li a{
    text-decoration: none;
    text-align: center;
}

